@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  .modest-css pre,
  .modest-css code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  .modest-css pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
  }
  
  .modest-css a,
  .modest-css a:visited {
    color: #3498db;
  }
  
  .modest-css a:hover,
  .modest-css a:focus,
  .modest-css a:active {
    color: #2980b9;
  }
  
  .modest-no-decoration {
    text-decoration: none;
  }
  
  .modest-css html {
    font-size: 12px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    .modest-css html {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    .modest-css html {
      font-size: 16px;
    }
  }
  
  .modest-css body {
    line-height: 1.85;
  }
  
  .modest-css p,
  .modest-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }

  .modest-css ol, ul {
      padding-bottom: 1.3rem;
  }

  .modest-css ul > li {
      list-style: decimal;
  }

  .modest-css ol > li {
    list-style: circle;
}
  
  .modest-css h1,
  .modest-h1,
  .modest-css h2,
  .modest-h2,
  .modest-css h3,
  .modest-h3,
  .modest-css h4,
  .modest-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  .modest-css h1,
  .modest-h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
  
  .modest-css h2,
  .modest-h2 {
    font-size: 2.827rem;
  }
  
  .modest-css h3,
  .modest-h3 {
    font-size: 1.999rem;
  }
  
  .modest-css h4,
  .modest-h4 {
    font-size: 1.414rem;
  }
  
  .modest-css h5,
  .modest-h5 {
    font-size: 1.121rem;
  }
  
  .modest-css h6,
  .modest-h6 {
    font-size: .88rem;
  }
  
  .modest-css small,
  .modest-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  .modest-css img,
  .modest-css canvas,
  .modest-css iframe,
  .modest-css video,
  .modest-css svg,
  .modest-css select,
  .modest-css textarea {
    max-width: 100%;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
  
  @import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);
  
  .modest-css html {
    font-size: 18px;
    max-width: 100%;
  }
  
  .modest-css body {
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 48rem;
    line-height: 1.45;
    padding: .25rem;
  }
  
  .modest-css h1,
  .modest-css h2,
  .modest-css h3,
  .modest-css h4,
  .modest-css h5,
  .modest-css h6 {
    font-family: Arimo, Helvetica, sans-serif;
  }
  
  .modest-css h1,
  .modest-css h2,
  .modest-css h3 {
    border-bottom: 2px solid #fafafa;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  
  .modest-css blockquote {
    border-left: 8px solid #fafafa;
    padding: 1rem;
  }
  
  .modest-css pre,
  .modest-css code {
    background-color: #fafafa;
  }
