{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% load martortags %}

{% block head_css_page %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/modest.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    {% endcompress %}
{% endblock head_css_page %}

{% block content %}
    <main>
        <div class="bg-fixed h-screen w-screen overflow-x-hidden">
            <div class="container mx-auto p-6 m-16 max-w-screen-lg bg-white rounded-3xl grid grid-cols-1 gap-4">
                <div class="py-2 px-4 bg-gray-300 bg-opacity-50 hover:bg-opacity-100 transition transition-duration-300 ease-in-out rounded-3xl">
                    <a href="{% url 'blog_list' %}?category={{ back_category }}">
                        <h1 class="text-lg"><i class="fas fa-arrow-left mr-2"></i>Back to <b>{{ back_category }}</b> projects</h1>
                    </a>
                </div>
                <div class="w-auto bg-cover bg-center bg-clip-border rounded-3xl bg-opacity-10">
                    <div class="w-auto bg-gradient-to-r from-pink-900 to-blue-900 bg-opacity-50 p-6 rounded-3xl text-white">
                        <h1 class="text-3xl mb-2">{{ blogentry.title }}</h1>
                        <div class="category-color-border" style="border-color: {{ blogentry.category_color }}">
                            <p>{{ blogentry.category }} &middot; {{ blogentry.date|date:"M, Y" }}</p>
                        </div>
                    </div>
                </div>
                <div class="w-auto bg-cover bg-center bg-clip-border rounded-3xl bg-opacity-10" style="background-image: url({{ blogentry.cover_image.url }}); height: 300px"></div>
                <div class="modest-css mx-4">
                    {{ blogentry.content|safe_markdown }}
                </div>
                {% if images %}
                    <div class="grid gap-4 space-evenly items-stretch justify-between align-middle sm:grid-cols-1 md:grid-cols-3">
                        {% for image in images %}
                            <div class="grid grid-cols1 content-center">
                                <a href="#img_{{ forloop.counter }}">
                                    <img
                                        src="{{ image.image.url }}"
                                        alt="{{ image.title }}"
                                        style="pointer-events: none;"
                                    />
                                </a>
                                <small>{{ image.title }}</small>
                            </div>
                        {% endfor %}
                        {% for image in images %}
                            <a href="#_{{ forloop.counter }}" class="lightbox trans" id="img_{{ forloop.counter }}">
                                <img
                                    src="{{ image.image.url }}"
                                    alt="{{ image.title }}"
                                    style="pointer-events: none;"
                                />
                                <p class="text-white">{{ image.title }}</p>
                            </a>
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
