@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  overflow-x: hidden;
  min-height: 100vh;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.gallery-photo:hover .fa-expand {
  color: hsl(var(--a))
}

.steps .step::after {
  height: 7px;
  width: 7px;
}

.steps-vertical {
  grid-auto-rows: auto;
}

.steps-vertical .step::before {
  width: 3px;
  opacity: 40%;
}

ul {
  list-style-type: disc;
  padding-inline-start: 15px;
}
